/* Rajuniour Hamilton (9060722) */

/* HTML element selecter */
html {
    font: oblique small-caps bold 20px/1.7 "Times new Romans", sans-serif;
}

/* Body element selecter */
body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
    border: 0.5rem;
    background-color: grey;

}

/* Main element selector */
main {
    float: left;
    width: 70%;
    padding: 0rem;
}

/* Aside element selector */
aside {
    float: right;
    width: 30%;
    padding: 0rem;

}

/* Footer element selector  */
footer {
    clear: both;
}