/* Rajuniour Hamilton (9060722) */

/* HTML element (Type selecter */
html {
    font: oblique small-caps normal 20px/1.7rem "Times new Romans", sans-serif;
}

/* Body element selecter */
body {
    max-width: 87.5rem;
    margin: 0 auto;
    padding: 2rem;
    border: 0.5rem;
    background-color: lightcyan;

}

/* Main element selector */
main {
    float: left;
    width: 70%;
    padding: 0rem;
}

/* Aside element selector */
aside {
    float: right;
    width: 30%;
    padding: 0rem;

}

/* Footer element selector  */
footer {
    clear: both;
    color: darkorchid;
    font-size: 0.9rem;
    text-align: center;
    background: linear-gradient(white, white);

}

/* Header element selector */
header {
    color: darkorchid;
    font-size: 5rem;
    text-align: center;
    background: linear-gradient(black, black);
}

/* Multiple Selector */
section h3,
h2 {
    text-align: center;
    color: darkorchid;
    font-weight: bold;
    font-style: oblique;
    font-variant: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



/* Blockquote element selector */
blockquote {
    font-style: italic;
    background-color: white;
    padding: 0.5rem;
    border-left: 0.5rem solid black;
    width: 90%;
    margin: auto;
    box-shadow: 0 0.4rem 1rem black;
}

/* Figure element selector */
figure {
    border: 0.3rem solid black;
    border-radius: 0.1rem;
    padding: 0.5rem;
    background-color: white;
    text-align: center;

}

/*  Decendant selector*/
figure image {
    display: block;
    border: 0.3rem solid red;
    border-radius: 0.1rem;
    width: 80%;
    margin: auto;

}

/* Figcaption element selector */
figcaption {
    font-size: 0.5rem;
    font-variant: small-caps;
}

/* iFrame element selector  */
iframe {
    border: 0.3rem solid black;
    display: block;
    margin: auto;
    width: 90%;
}

/* Quote id element selector */
#Quote {
    padding: 0.5rem;
    border: 0.2rem solid black;
    box-shadow: 0 0.4 1rem black;
    width: 60%;
    margin: auto;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;


}

/* a element selector */
a {
    text-decoration: none;
    color: black;
}


/* Psudo-class selector */
a:visited {
    color: red;
}

/* a:hover element selector */
a:hover {
    color: red;
    text-decoration: underline;
}

/* a:active element selctor */
a:active {
    color: brown;
}

/* Descendant selector */
#links ul {
    list-style-type: none;
    padding: 1rem;
}

/* Table element selctor  */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0rem auto;
}

/* Top row of table element slector */
table th {
    text-align: left;
    font-weight: 900rem;
    font-variant: normal;
    color: blue;
    background-color: white;

}

/* Table td element selector for table cells  */
table td {
    padding: 1rem;
    border: 0.3rem;
}

/* Table tr:nth-child(even) element selector (combined/complex selctor), for giving rows alternative colours. */
table tr:nth-child(even) {
    background-color: yellow;
}

/* Table tr:hover selecter*/
table tr:hover {
    background-color: blue;
}

/* Class selector  */
.form-label {
    font-variant: normal;
    font-weight: lighter;
    color: blue;
}

/* Class selector */
.form-control {
    padding: 0.3rem;
    border: 5rem;
    margin-bottom: 1.1rem;
    border-radius: 0.5rem;
    width: 8rem;
}

/* Responsive design */

@media screen and (max-width: 800px) {

    #Blockquote {
        margin: auto;
        width: 100%;
    }

    footer {
        text-align: center;
        padding: 2rem;
    }

    html {
        font-size: 1rem;
    }
}