/* Rajuniour Hamilton (9060722) */

/* HTML element selecter */
html {
    font: oblique small-caps normal 20px/1.7rem "Times new Romans", sans-serif;
}

/* Body element selecter */
body {
    max-width: 87.5rem;
    margin: 0 auto;
    padding: 2rem;
    border: 0.5rem;
    background-color: grey;

}

/* Main element selector */
main {
    float: left;
    width: 70%;
    padding: 0rem;
}

/* Aside element selector */
aside {
    float: right;
    width: 30%;
    padding: 0rem;

}

/* Footer element selector  */
footer {
    clear: both;
    color: red;
    font-size: 0.9rem;
    text-align: center;
    background: linear-gradient(black, grey);

}

/* Header element selector */
header {
    color: red;
    font-size: 5rem;
    text-align: center;
    background: linear-gradient(black, grey);
}

/* Section element + H3 element selctors */
section h3 {
    text-align: center;
    color: red;
    font-weight: bold;
    font-style: oblique;
    font-variant: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Section element + H2 element selectors*/
section h2 {
    text-align: center;
    color: red;
    font-weight: bold;
    font-style: oblique;
    font-variant: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Blockquote element selector */
blockquote {
    font-style: italic;
    background-color: white;
    padding: 0.5rem;
    border-left: 0.5rem solid red;
    width: 90%;
    margin: auto;
    box-shadow: 0 0.4rem 1rem red;
}

/* Figure element selector */
figure {
    border: 0.3rem solid red;
    border-radius: 0.1rem;
    padding: 0.5rem;
    background-color: white;
    text-align: center;

}

/*  Figure + image selector*/
figure image {
    display: block;
    border: 0.3rem solid red;
    border-radius: 0.1rem;
    width: 80%;
    margin: auto;

}

/* Figcaption element selector */
figcaption {
    font-size: 0.5rem;
    font-variant: small-caps;
}

/* iFrame element selector  */
iframe {
    border: 0.3rem solid red;
    display: block;
    margin: auto;
    width: 100%;
}

/* Quote id element selector */
#Quote {
    padding: 0.5rem;
    border: 0.2rem solid red;
    box-shadow: 0 0.4 1rem red;
    width: 60%;
    margin: auto;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;


}

/* a element selector */
a {
    text-decoration: none;
    color: yellow;
}


/* a:visited element selctor */
a:visited {
    color: purple;
}

/* a:hover element selector */
a:hover {
    color: white;
    text-decoration: underline;
}

/* a:active element selctor */
a:active {
    color: brown;
}

/* links id element + ul selector */
#links ul {
    list-style-type: none;
    padding: 1rem;
}

/* Table element selctor  */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0rem auto;
}

/* Top row of table element slector */
table th {
    text-align: left;
    font-weight: 900rem;
    font-variant: normal;
    color: blue;
    background-color: white;

}

/* Table td element selector for table cells  */
table td {
    padding: 1rem;
    border: 0.3rem;
}